.flex {
  width: 100%;
  margin: 20px 0px 5px;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 3px;
}
.profit {
  color: darkturquoise;
}
.expense {
  color: crimson;
}
.statItem {
  display: inline-block;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .flex {
    flex-direction: row;
  }
  .statItem {
    width: 25%;
  }
}